---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import BlogPreview from "../components/BlogPreview.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Dev Portfolio" description="Personal developer portfolio">
  <Nav />
  <main>
    <Hero />
    <Skills />
    <!-- <About /> -->
    <!-- <Projects /> -->
    <BlogPreview />
    <Contact />
    <!-- 
     -->
  </main>
  <Footer />
</Layout>
